n8n-flujos/registros-pedidos.json
{
  "name": "registros-pedidos",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "GUARDAR-SHEET",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "d5b32d19-6078-42db-9adf-02b60583dcdf",
      "name": "Webhook",
      "webhookId": "d87ed1f0-bca8-458a-b0b2-1a4da4102fc0"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1WiXovJJVG-YWXTK5RUYtof20o-53sBFwn206Y5X31vo",
          "mode": "list",
          "cachedResultName": "PEDIDOS_PIZARRA",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WiXovJJVG-YWXTK5RUYtof20o-53sBFwn206Y5X31vo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WiXovJJVG-YWXTK5RUYtof20o-53sBFwn206Y5X31vo/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Fecha": "={{ $json.body.date }}",
            "Hora Planificada": "={{ $json.body.startTimeHour }}",
            "Recurso": "={{ $json.body.resourceId }}",
            "Cliente": "={{ $json.body.client }}",
            "Kilos": "={{ $json.body.kg }}",
            "Detalle": "={{ $json.body.description }}",
            "Duración (Min)": "={{ $json.body.duration }}",
            "Prioridad": "={{ $json.body.color }}",
            "Inicio Real": "={{ $json.body.realStartTime }}",
            "Fin Real": "={{ $json.body.realEndTime }}",
            "Estado": "={{ $json.body.action }}",
            "id": "={{ $json.body.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hora Planificada",
              "displayName": "Hora Planificada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Recurso",
              "displayName": "Recurso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cliente",
              "displayName": "Cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Kilos",
              "displayName": "Kilos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Detalle",
              "displayName": "Detalle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Duración (Min)",
              "displayName": "Duración (Min)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Prioridad",
              "displayName": "Prioridad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Inicio Real",
              "displayName": "Inicio Real",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fin Real",
              "displayName": "Fin Real",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        256,
        0
      ],
      "id": "964f4cd3-6d2e-4393-a20b-b5cdbc30cdbf",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yOsDbLJaGfen4vHe",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": true,\n  \"message\": \"Datos guardados en Sheet\"\n}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        464,
        0
      ],
      "id": "1c5f5d30-95f2-4e07-9945-0d42d5b39182",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n-n8n.rbmlzu.easypanel.host",
            "user-agent": "axios/1.13.2",
            "content-length": "402",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "186.13.21.194",
            "x-forwarded-host": "n8n-n8n.rbmlzu.easypanel.host",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "a81c863cbf98",
            "x-real-ip": "186.13.21.194"
          },
          "params": {},
          "query": {},
          "body": {
            "status": "PLANNED",
            "id": 4,
            "resourceId": "p3",
            "startTimeHour": 6,
            "startTimeMinute": 0,
            "date": "2025-12-02",
            "client": "GALLARDO DANIELA CECILIA",
            "kg": 3300,
            "description": "Pedido Web N° 918.263 (0 ítems)",
            "duration": 120,
            "color": "blue",
            "createdBy": 1,
            "updatedAt": "2025-12-02T18:20:41.385Z",
            "createdAt": "2025-12-02T18:20:41.385Z",
            "action": "CREATED",
            "updatedBy": "vendedor",
            "timestamp": "2025-12-02T18:20:41.396Z"
          },
          "webhookUrl": "https://n8n-n8n.rbmlzu.easypanel.host/webhook/GUARDAR-SHEET",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Argentina/Buenos_Aires",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "478d0163-b32a-452c-b306-72127fe0986c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d8cf65cbe8daa127ff9f64160c8855f9dfa98b0bb8d8bf4b332e341aae693d53"
  },
  "id": "z6iVA70dGgLlwqBl",
  "tags": []
}